{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Systems Engineering Design</title>
    <meta name="description" content="Systems Engineering Design">
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <!-- forwarding after 6 seconds to next researcher: -->
    <!--<meta http-equiv="refresh" content="6;url={% url 'presentation:member' all_researchers.0.id %}" />-->
    <link rel="stylesheet" href="{% static 'presentation/css/main.css' %}?20190122b">
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	-->
</head>
<body>
    
	<div class="overviewMain">         
        <h1>Systems Engineering Design</h1>
        
        
        <div class="description">
        The group studies the product development process and its participants in product developing companies in order to understand their problems and needs. This knowledge gained is then transformed into better work procedures, development methods and computer-based tools. A special interest is platform-based development, which is a widely adopted strategy for balancing the conflict between reuse and demands on customization. The aim of the research conducted within this theme is to significantly contribute to a new system family based platform description approach that, in a PLM environment, will provide a ground for reuse of assets in terms of knowledge in all product development phases as well as in production, i.e. from early requirement specification and concept development phases to the final detail system design phase and in production.
        </div>
         
         
        <div class="overviewMembers">
        {% regroup all_researchers by get_roleX_display as rSorted %}
            
            {% for rGroup in rSorted %}
            <h2 class="overviewH2"> {{rGroup.grouper}}{% if rGroup.list|length > 1 %}s{% endif %}
			</h2>
            <div class="membercontainer">
                {% for r in rGroup.list %}
                    <div class="member">
						<a class="imgsize" href="{% url 'presentation:member' r.id %}">
							<img src="{{ r.profileImage.url }}" />
						</a>
                        {{ r.name }}
                    </div>
                    {% empty %}
                    Currently no {{rGroup.grouper}}
                {% endfor %}
            </div>
            {% empty %}
            Currently no one active in the group
            {% endfor %}
      
            
            <h2 class="overviewH2">Research Projects</h2>
        
            <div class="membercontainer">
        
            {% for p in all_projects %}
                <div class="member">
                    <div class="imgsize">
                    <a href="{% url 'presentation:project' p.id %}"><img src="{{ p.project_logo.url }}" /></a>
                    </div>{{ p.name }}
				</div>
            {% empty %}
                Currently there are no active projects
            {%endfor%}
            </div>
        
        </div>
    </div>
    
    <div class="banner_bottom">

    	Industrial and Materials Science | Product Development<br>
    	Systems Engineering Design

	</div>
		
	<div class="partners">
        <div class="member"><img alt="AoA Production" src="{% static 'presentation/img/AOA_production.png' %}" /></div>
        <div class="member"><img alt="Chalmers tekniska högskola" src="{% static 'presentation/img/chalmers.png' %}" /></div>
        <div class="member"><img alt="Wingquist Laboratory" src="{% static 'presentation/img/wingquist.png' %}" /></div>
		
	</div>
		
</body>
    
</html>