{% load staticfiles %}
{% load qr_tags %}
<!DOCTYPE html>
<html>
<head>
	<title>Systems Engineering Design</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="description" content="Systems Engineering Design">
    <!-- forwarding after 9 seconds to next researcher: -->
    <meta http-equiv="refresh" content="9;url={% url 'presentation:index' %}" />

    <link rel="stylesheet" href={% static 'presentation/css/main.css' %}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>


</head>
<body onmouseover="window.location = '{% url 'presentation:index' %}';" onscroll="window.location = '{% url 'presentation:index' %}';" onclick="window.location = '{% url 'presentation:index' %}';" style="display:none;">
			
			
        <div class="container">
            <img src="{{ project.project_illustration.url }}" />
        </div>
        
        
        <div class="imgtext"><div class="rightpad"></div></div>
        
        <div class="memberprofilepic"><img src="{{ project.project_logo.url }}" /></div>
        
        <div class="moveup">
        
        <div class="main">
        
        	<div id="name" class="heading"><b>{{ project.name }} Project</b></div>
             
        	<div id="text" class="text">{{ project.description }}
 
            </div>
        
        	<div class="flex-body">
        	
        		<div class="left">
    				<div class="left_side_img">
						<img class="research" src="" />
					</div>
    				<div class="left_side">
                        <div class="qrcode"><img src="{{ project.project_lead.contactQR }}"/></div>
						<div class="left_side_text">
        					<div class="memberinfo">
								<img alt="Email:" src="{% static 'presentation/img/email.png' %}" /> &nbsp;{{ project.project_lead.emailAdress }}<p>
								<img alt="Phone:" src="{% static 'presentation/img/phone.png' %}" /> &nbsp;{{ project.project_lead.phoneNumber }}
							</div>
						</div>
					</div>
  				</div>

  				<div class="right">
  					<div class="right_side">
        				<div id="professional" class="right_side_text">
        				
        				{% regroup project.partners.all by get_type_display as rSorted %}
        
        				{% for rGroup in rSorted %}
        				<b> {{rGroup.grouper}} Collaborators</b><br>
            			{% for r in rGroup.list %}
							<ul>
                    			<li>{{ r.name }}</li>
  							</ul>
                			{% empty %}
                		Currently no {{rGroup.grouper}} collaborators
            			{% endfor %}
        			{% empty %}
        			Currently no collaborators at all
        			{% endfor %}
						
					</div>
				</div>
			</div>
			
			</div>			
		
		<div class="membercontainer">
			<div class="projects">
        		<b>Members of the research project:</b><br>
        		
        		{% for r in project.researchers.all %}
        		
                <div class="member">
                    <div class="imgsize">
                        <a href="{% url 'presentation:member' r.id %}"><img src="{{ r.profileImage.url }}" /></a>
                    </div>
                    {{ r.name }}
                </div>
                
                {% empty %}
                	
                    Currently there are no members in this research project
                	
            	{% endfor %}
            	
            </div>
        </div>
		
		</div>
     	
     	<div class="banner_bottom">
        	Industrial and Materials Science | Product Development<br>
        	Systems Engineering Design
		</div>
	
		<div class="collaborators">
		
		{% for p in project.partners.all %}
            {% if p.logo %}
			<div class="member"><img alt="{{ p.name }}" src="{{ p.logo.url }}" /></div>
            {%else%}
            <div class="member"><b>{{ p.name }}</b></div>
            {%endif%}
		{%endfor%}
		
		</div>
		
		<div class="partners">
			<div class="member"><img alt="AoA Production" src="{% static 'presentation/img/AOA_production.png' %}" /></div>
        	<div class="member"><img alt="Chalmers tekniska högskola" src="{% static 'presentation/img/chalmers.png' %}" /></div>
        	<div class="member"><img alt="Wingquist Laboratory" src="{% static 'presentation/img/wingquist.png' %}" /></div>
		</div>
		
		</div>
</body>
</html>