{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Systems Engineering Design</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="description" content="Systems Engineering Design">
    <!-- forwarding after 9 seconds to next researcher: -->
    <!-- <meta http-equiv="refresh" content="9;url={% url 'presentation:member' researcher.nextR.id %}" />-->

    <link rel="stylesheet" href="{% static 'presentation/css/main.css' %}?20190122c">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'presentation/js/jquery.touchSwipe.min.js' %}"></script>

</head>
<body> 
    <!-- onmouseover="window.location = '{% url 'presentation:index' %}';" onscroll="window.location = '{% url 'presentation:index' %}';" onclick="window.location = '{% url 'presentation:index' %}';" style="display:none;" -->
			
        <div id="TopBanner">
            <div id="scrollBanner">
                <div class="imgCont">
                    <img src="{{ researcher.bannerProfessional.url }}" /> 
                    <div class="imgtext">{{ researcher.imageTextProfessional }}</div>
                </div>
                <div class="imgCont">
                    {% if researcher.bannerCasual %}
                    <img src="{{ researcher.bannerCasual.url }}"/>
                    <div class="imgtext">{{ researcher.imageTextCasual }}</div>
                    {% else %}
                    <img src="{{ researcher.bannerProfessional.url }}"/>
                    <div class="imgtext">{{ researcher.imageTextProfessional }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
            
        
        <div class="memberprofilepic">
			<img src="{{ researcher.profileImage.url }}" />
		</div>

        <div id="name" class="heading">
            <span><b>{{ researcher.name }}</b> | {{ researcher.get_roleX_display }}</span>
        </div>
        
        <div id="mainWrapper">
            <div id="main">
                <!-- boxes left and right that show when swiping -->
                <div id="prevMember">
                <b>{{ researcher.prevR.name }}</b> | {{ researcher.prevR.get_roleX_display}}
                </div>
                <div id="nextMember">
                <b>{{ researcher.nextR.name }}</b> | {{ researcher.nextR.get_roleX_display}}
                </div>
                
                <div class="descriptionText">{{ researcher.persDescription }}</div>

                <img class="researchImg" src="{{ researcher.researchImage.url }}" />
                
                <div class="memberinfo">
                    <img id="qrCode" src="{{researcher.contactQR}}"/>
                        <img alt="Email:" src="{% static 'presentation/img/email.png' %}" /> &nbsp;{{ researcher.emailAdress }}<p>
                        {% if researcher.phoneNumber %}
                        <img alt="Phone:" src="{% static 'presentation/img/phone.png' %}" /> &nbsp;{{ researcher.phoneNumber }}
                        {% endif %}
                </div>

                <div id="interests">
                    <b>Professional Interests</b>
                    <ul>
                    {% if researcher.profInterest1 %}
                        <li>{{ researcher.profInterest1 }}</li><p>
                    {% endif %}
                    {% if researcher.profInterest2 %}
                        <li>{{ researcher.profInterest2 }}</li><p>
                    {% endif %}
                    {% if researcher.profInterest3 %}
                        <li>{{ researcher.profInterest3 }}</li>
                    {% endif %}
                    </ul>
                    <br/>
                    <b>Personal Interests</b>
                    <ul>
                    {% if researcher.persInterest1 %}
                        <li>{{ researcher.persInterest1 }}</li><p>
                    {% endif %}
                    {% if researcher.persInterest2 %}
                        <li>{{ researcher.persInterest2 }}</li><p>
                    {% endif %}
                    {% if researcher.persInterest3 %}
                        <li>{{ researcher.persInterest3 }}</li>
                    {% endif %}
                    </ul>                    
                </div>
      

            
                <div id="projects">
                    <b>Research projects:</b><br>
                    {% for p in researcher.project_set.all %}
                        <div class="member">
                            <div class="imgsize">
                             <a href="{% url 'presentation:project' p.id %}"><img src="{{ p.project_logo.url }}" /></a> 
                            </div>
                            {{ p.name }}
                        </div>
                    {% empty %}
                        <p> {{ researcher.name }} has no active research projects</p>
                    {%endfor%}
                </div>

            
                <div class="banner_bottom">
                    Industrial and Materials Science | Product Development<br>
                    Systems Engineering Design
                </div>
            
                <div class="partners">
                    <div class="member"><img alt="AoA Production" src="{% static 'presentation/img/AOA_production.png' %}" /></div>
                    <div class="member"><img alt="Chalmers tekniska högskola" src="{% static 'presentation/img/chalmers.png' %}" /></div>
                    <div class="member"><img alt="Wingquist Laboratory" src="{% static 'presentation/img/wingquist.png' %}" /></div>
                </div>
            
            </div>
        </div>
        <div class="popup" id="returnHomeBanner">
            To return to the overview<br/>
            <b>DOUBLETAP</b>
        </div>
		<div class="popup" id="autoChange">
			Next researcher in <br/>
			<b><span id="autoChangeCountdown">3</span></b> <br/>
			Tap to stop.
		</div>
		<div class="popup" id="introNavi">
			<b>&lt; &gt;</b> swipe for next
			<b>(**)</b> double tap to return 
		</div>
    <script>
   
        /* ****************************************
        SWIPE THE BANNER */
        
        var IMG_WIDTH = 1046;
        var currentImg = 0;
        var maxImages = 2;
        var speed = 500;
		var autoSiteChangeTime = 30000;
		var doAutoChange = false;

        var imgs;
        var mainDiv;
		var popupDT = "#returnHomeBanner";

        var swipeOptionsImg = {
            triggerOnTouchEnd: true,
            swipeStatus: swipeStatusImg,
            allowPageScroll: "none",
            threshold: 100
        };
        var swipeOptionsMain = {
            triggerOnTouchEnd: true,
            swipeStatus: changeR,
            tap: alertDT,
            doubleTap: backHome,
            allowPageScroll: "none",
            threshold: 100
        };

        $(function () {
			popup("#introNavi", 1200);
			setTimeout(autoSiteChange, autoSiteChangeTime);
            imgs = $("#scrollBanner");
            imgs.swipe(swipeOptionsImg);
            
            mainDiv = $("#main");
            mainDiv.swipe(swipeOptionsMain);
        });

        function changeR(event, phase, direction, distance) {
			//alert("MAIN");
            if (phase == "move" && (direction == "left" || direction == "right")) {
                var duration = 0;

                if (direction == "left") {
                    scrollMain((IMG_WIDTH * currentImg) + distance, duration);
                } else if (direction == "right") {
                    scrollMain((IMG_WIDTH * currentImg) - distance, duration);
                }

            } else if (phase == "cancel") {
                scrollMain(IMG_WIDTH * currentImg, speed);
            } else if (phase == "end") {
                if (direction == "right") {
                    window.location.href="{% url 'presentation:member' researcher.prevR.id %}";
                } else if (direction == "left") {
                    window.location.href="{% url 'presentation:member' researcher.nextR.id %}";
                }
            } 
        }
        function scrollMain(distance, duration) {
            mainDiv.css("transition-duration", (duration / 1000).toFixed(1) + "s");

            //inverse the number we set in the css
            var value = (distance < 0 ? "" : "-") + Math.abs(distance).toString();
            mainDiv.css("transform", "translate(" + value + "px,0)");
        }
        function alertDT(event, phase, direction, distance) {
			// tap needs to be captured differently when in need to break the autochange countdown
			if (doAutoChange) {
				doAutoChange = false;
				$("#autoChange").hide()
			} else {
				popup("#returnHomeBanner", 1000);
			}
        }
		function autoSiteChange() {
			$("#autoChange").show();
			doAutoChange = true;
			setTimeout(function(){
				$("#autoChangeCountdown").text("2")
			}, 1000);
			setTimeout(function(){
				$("#autoChangeCountdown").text("1")
			}, 2000);
			setTimeout(function(){
				$("#autoChangeCountdown").text("0")
			}, 3000);
			setTimeout(function(){
				if (doAutoChange) {
					window.location.href="{% url 'presentation:member' researcher.nextR.id %}"; 
				} else {
					$("#autoChangeCountdown").html("3");	
					setTimeout(autoSiteChange, autoSiteChangeTime);			
				}
			}, 3010);
		}
		function popup(obj, t=1000) {
			$(obj).show(200).delay(t).hide(500);
		}
        function backHome(event, phase, direction, distance) {
            window.location.href="{% url 'presentation:index' %}";
        }
        /**
         * Catch each phase of the swipe.
         * move : we drag the div
         * cancel : we animate back to where we were
         * end : we animate to the next image
         */
        function swipeStatusImg(event, phase, direction, distance) {
            //If we are moving before swipe, and we are going L or R in X mode, or U or D in Y mode then drag.
			//alert("you touched the image!");
            if (phase == "move" && (direction == "left" || direction == "right")) {
                var duration = 0;

                if (direction == "left") {
                    scrollImages((IMG_WIDTH * currentImg) + distance, duration);
                } else if (direction == "right") {
                    scrollImages((IMG_WIDTH * currentImg) - distance, duration);
                }

            } else if (phase == "cancel") {
                scrollImages(IMG_WIDTH * currentImg, speed);
            } else if (phase == "end") {
                if (direction == "right") {
                    previousImage();
                } else if (direction == "left") {
                    nextImage();
                }
            }
        }

        function previousImage() {
            currentImg = Math.max(currentImg - 1, 0);
            scrollImages(IMG_WIDTH * currentImg, speed);
        }

        function nextImage() {
            currentImg = Math.min(currentImg + 1, maxImages - 1);
            scrollImages(IMG_WIDTH * currentImg, speed);
        }

        /**
         * Manually update the position of the imgs on drag
         */
        function scrollImages(distance, duration) {
            imgs.css("transition-duration", (duration / 1000).toFixed(1) + "s");

            //inverse the number we set in the css
            var value = (distance < 0 ? "" : "-") + Math.abs(distance).toString();
            imgs.css("transform", "translate(" + value + "px,0)");
        }
		/* **************************************** */
    </script>
    
</body>
</html>