html {
    background: #fff;
    width:1046px;
    height:1920px;
    overflow:hidden;
}

body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0; 
    padding: 0;
    width:1046px;
    height:1920px;
    overflow:hidden;
}

h1 {
	display: block;
	margin-left: 40px;
    height: 60px;
    font-size: 69px;
    font-weight: 100;
    letter-spacing: 1.5px;
    color: #555;
    margin-top: 40px;
    font-weight: bold;
}

h2 {
	display: block;
	margin-top: 20px;
	height: 20px;
    font-size: 32px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #555;
}
.overviewH2 {
    padding-left:40px;
}

a {
    text-decoration: none;
    color: #555;
    -webkit-filter: grayscale(40%);
    filter: grayscale(40%);
}

a:hover {
	-webkit-filter: grayscale(10%);
    filter: grayscale(10%);
}

b {
    font-weight: 700;
    color: #222;
}
#TopBanner {
    position:relative;
    top:0px;
    width:1046px;
    height:588px;
    border-bottom: 10px solid #f6f6f6;
    overflow:hidden;
}
#TopBanner #scrollBanner {
    width:2092px;
    height:588px;
    float:left;
    display: inline;
    padding: 0;
    margin: 0;

    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;

    /*apply a transform to kick in the hardware acceleration.  Without this, the first
    time we add the transform you get odd rendering of the divs (half missing) */
    transform: translate(0, 0);
}
.imgCont {
    padding: 0;
    margin: 0;
    width: 1046px;
    height: 588px;
    overflow:hidden;
    float:left;
    /*apply a transform to kick in the hardware acceleration.  Without this, the first
    time we add the transform you get odd rendering of the divs (half missing) */
    transform: translate(0, 0);
}
#scrollBanner img {
    width: 1046px;
    height: 588px;
    object-fit: cover;
}
.imgtext {
	position: absolute;
    bottom: 0px;
    z-index: 10;
    height: 25px;
    width: 1006px;
    padding-right:40px;
    font-family: Corsiva;
    font-size: 17px;
    font-weight: 50;
    text-align: right;
    font-style: italic;
    letter-spacing: 0px;
    line-height: 25px;
    color: #555;
    background-color: #fff;
    opacity: 0.7;
}

.heading {
	position: relative;
    top: 15px;
    left: 320px;
    font-size: 45px;
    text-align: left;
    font-weight: 100;
    color: #222;
    width: 700px;
    height:100px;
}
.heading span {
    position:absolute;
    bottom:0px;
    overflow:visible;
    z-index:10;
}

.memberprofilepic {
	display: flex;
  	align-items: center;
  	justify-content: center;
	position: absolute;
    top: 488px;
    left: 60px;
    z-index: 1000;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 7px solid rgba(1, 1, 1, 0.1);
}

.memberprofilepic img {
    height:200px;
    width:200px;
    object-fit: cover;
}
.overviewMain {
    height:1720px;
    overflow:auto;
    display: flex;
    flex-direction: column;
}
.overviewMembers {
    overflow:scroll;
}

#mainWrapper {
	position: absolute;
    top: 720px;
    height: 1200px;
    width: 1046px;
    overflow:hidden;
}
#main{
    position:absolute;
    top:0px;
    height: 1200px;
    width: 1046px;
    margin-left:100px;
    left:-100px;
}

#prevMember, #nextMember {
    position:absolute;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 45px;
    text-align: right;
    font-weight: 100;
    color: #222;
    padding-top:50px;
    width:100px;
}
#nextMember {
    right:-100px;
}
#prevMember {
    left:-100px;
}

.descriptionText {
  	text-align: left;
	padding: 40px;
    padding-top:0px;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    color: #555;
    width: 940px;
    height: 195px;
    background-color: transparent;
    text-overflow:ellipsis;
}

#interests {
    position:absolute;
    top:300px;
    right:40px;
    padding:20px;
	margin-left: 40px;
    width: 280px;
    height: 430px;
    background-color: #f6f6f6;
    font-size:20px;
}
.researchImg {
    position:absolute;
    top:300px;
    width:586px;
    height:320px;
    object-fit:scale-down;
}

.memberinfo {
    position:absolute;
    top:650px;
    left:40px;
    width:436px;
    height:100px;
    padding-left:150px;
    padding-top:20px;
	display: block;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    color: #555;
    background-color: #f6f6f6;
}

#qrCode {
	position:absolute;
    left:0px;
    top:0px;
}

.description {
    display: block;
	margin: 40px;
    font-family: Corsiva;
    font-size: 17px;
    font-weight: 50;
    text-align: left;
    font-style: italic;
    letter-spacing: 0px;
    line-height: 25px;
    color: #555;
    width: 966px;
}

.membercontainer {
    position:relative;
	display: inline-block;
    left:40px;
  	width: 966px;
}
#projects {
    /* from px to px */
    position:absolute;
    left:0px;
    bottom:200px;
	display: inline-block;
    left:40px;
  	width: 966px;
    height:210px;
    margin-top: 20px;
	margin-left: 0px;
    vertical-align: middle;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    color: #555;
    background-color: transparent;
}
.imgsize {
	display: flex;
  	align-items: center;
  	justify-content: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.imgsize img {
    height:150px;
    width:150px;
    object-fit: cover;
}
.member {
	float: left;
	padding: 10px;
    text-align: center;
    color: #555;
	font-size: 15px;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.member img {
    width: 150px;
}

.projects {
	margin-top: 20px;
	margin-left: 0px;
    vertical-align: middle;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    color: #555;
    background-color: transparent;
}

.banner_bottom {
    position:absolute;
    bottom:100px;
    left:0px;
	display: flex;
  	align-items: center;
  	justify-content: center;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    letter-spacing: 1px;
    color: #555;
    width: 100%;
    height: 100px;
    background-color: #f6f6f6;
}

.partners {
    position:absolute;
    bottom:0px;
    height:100px;
    width:100%;
	display: flex;
  	align-items: center;
  	justify-content: center;
    background-color: #fff;
}

.partners img {
    width: 220px;
}

#returnHomeBanner {
    background-color:#f6f6f6;
    font-size:100px;
    position:absolute;
    top:50%;
    left:50%;
    z-index:1000;
    width:800px;
    height:600px;
    margin-left:-400px;
    margin-top:-300px;
    text-align:center;
    display:none;
    align-items:center;
    border-radius:100px;
    opacity:0.5;
}