html {
    background: #fff;
}

body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0; 
    padding: 0;
}

.mySlides {
	position: absolute;
	top: 0;
	left; 0;
    width: 100%;
    height: 100%;
}

h1 {
	display: block;
	margin-left: 40px;
    height: 60px;
    font-size: 69px;
    font-weight: 100;
    letter-spacing: 1.5px;
    color: #555;
    margin-top: 40px;
    font-weight: bold;
}

h2 {
	display: block;
	margin-top: 20px;
	height: 20px;
    font-size: 32px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #555;
}

a {
    text-decoration: none;
    color: #555;
    -webkit-filter: grayscale(40%);
    filter: grayscale(40%);
}

a:hover {
	-webkit-filter: grayscale(10%);
    filter: grayscale(10%);
}

b {
    font-weight: 700;
    color: #222;
}

.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    z-index: 1;
    border-bottom: 10px solid #f6f6f6;
}

.container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.imgtext {
	position: relative;
    top: -35px;
    z-index: 10;
    height: 25px;
    width: 100%;
    font-family: Corsiva;
    font-size: 17px;
    font-weight: 50;
    font-style: italic;
    letter-spacing: 0px;
    line-height: 25px;
    color: #555;
    background-color: #fff;
    opacity: 0.7;
}

#rightpad {
	width: 200px;
	text-align: left;
}

.memberprofilepic {
	position: relative;
    top: -150px;
    left: 60px;
    z-index: 1000;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 7px solid rgba(1, 1, 1, 0.1);
}

.memberprofilepic img {
    position: relative;
    top: -20px;
    width: 200px;
}

.moveup {
	position: relative;
    top: -210px;
}

.main {
	position: relative;
    left: 40px;
}

.heading {
	position: relative;
    top: -12px;
    left: 250px;
    font-size: 45px;
    text-align: left;
    font-weight: 100;
    color: #222;
    width: 1000px;
}

.description {
    display: block;
	margin-bottom: 50px;
    font-family: Corsiva;
    font-size: 17px;
    font-weight: 50;
    text-align: left;
    font-style: italic;
    letter-spacing: 0px;
    line-height: 25px;
    color: #555;
    width: 980px;
}

.membercontainer {
	display: inline-block;
  	align-items: center;
  	justify-content: center;
  	width: 1150px;
}

.member {
	float: left;
	padding: 10px;
    text-align: center;
    color: #555;
	font-size: 15px;
    font-weight: 300;
    letter-spacing: 1.5px;
}

.imgsize {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.member img {
    width: 150px;
}

.text {
  	text-align: left;
	margin-top: 30px;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    color: #555;
    width: 1000px;
    height: 150px;
    background-color: transparent;
}

.flex-body {
    display: flex;
    margin-top: 50px;
}

.right {
	flex-direction: row;
    display: flex;
}

.right_side {
	margin-left: 40px;
    width: 360px;
    height: 470px;
    background-color: #f6f6f6;
}

.right_side_text {
  	text-align: left;
  	margin-top: 40px;
	margin-left: 40px;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    color: #555;
    background-color: transparent;
}

.left {
	flex-direction: column;
    display: flex;
}

.left_side {
	width: 600px;
    height: 120px;
    background-color: #f6f6f6;
}

.left_side_img {
    height: 330px;
    overflow: hidden;
    background-color: transparent;
    margin-bottom: 20px;
}

.research {
    width: 600px;
}

.left_side_text {
  	text-align: left;
  	margin-top: 28px;
	margin-left: 10px;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    color: #555;
    background-color: transparent;
}

.memberinfo {
	display: block;
	float: left;
  	text-align: left;
	margin-left: 20px;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    color: #555;
    background-color: transparent;
}

.qrcode img {
    position:absolute;
    left:472px;
    border:4px solid white;
}

.projects {
	margin-top: 20px;
	margin-left: 40px;
    vertical-align: middle;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    color: #555;
    background-color: transparent;
}

.banner_bottom {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	margin-top: 20px;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    letter-spacing: 1px;
    color: #555;
    width: 100%;
    height: 140px;
    background-color: #f6f6f6;
}

.partners {
	display: flex;
  	align-items: center;
  	justify-content: center;
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
}

.partners img {
    width: 220px;
}