/* 
    EF-M modelling web-app 
    (c) Jakob Müller 
    Version 0.1 
 */

 html, body {
     height: 100%;
 }
 body { 
    background: #fff;
    min-height: 100%;
    padding:0px;
    margin:0px;
 }
 
 
/* ==== frame ==== */
.flexBox {
    height:100%;
    display:flex;
    flex-flow:column;
}
.header {
    flex: 0 1 40px;
}
.mainArea {
    flex: 1 1 auto;
    display: flex;
    max-width:100%;    
    top:40px;
}


/* ==== efm-view ==== */

#detailsCanvas {
    flex: 0 1 300px;
    psdding:10px;
}

#closeDetailsCanvas {
    flex: 0 0 10px;
    display:block;
    background-color:#666;
    padding-top:30%;
    color:white;
}

.efmTree {
    flex: 1 2 auto;
    background-color:#eee;
    overflow:auto;
    padding: 10px;
}

/* ==== EF-M tree specific styling ==== */


.ds, .fr {
    width:120px;
    height:80px;
    border:2px solid;
    border-radius: 5px;
    padding:5px;
    float: left;
    margin-bottom:5px;
    margin-top:5px;
    font-family:calibri, non-serif;
    position:absolute;
    left:15px;
}

.highlight {
    border:4px dashed;
    padding:3px;
}

.isb, .rf {
    position:absolute;
    left:0px;
    font-family:calibri, non-serif;
    font-size:10px;
}

.ds h2, .fr h2 {
    margin: 0px;
    margin-bottom:2px;
    font-family:calibri, non-serif;
    font-size:12px;
}

.ds {
    background-color:#fff26d;
    border-color:#ffc928;
}

.fr {
    background-color:#4286f4;
    border-color:#2e6cd1;
}

.dsTree, .frTree {
    position:relative;    
    width:auto;
    height:auto;
    display:inline-block;
    padding-left:150px;
    min-height:100px;
}

.dsTree {
    /*border: 1px solid green;*/
    
}

.frTree {
    /*border: 1px solid red;*/
    overflow:hidden;  
}

/* side - info - bar */
.newFRbutton {
    background-color:red;
    display:block;
    border:2px solid blue;
}